.categories-select__control {
    height: 50px;
    border-radius: 10px !important;
}

.categories-select__indicator-separator {
    display: none;
}

.categories-select__placeholder {
    color: #9E9E9E;
}