.product-card-admin {

    margin: 20px 0;
    border-radius: 10px;

    .product-currency {
        font-size: 14px;
    }
    .product-price {
        font-size: 24px;
    }
}
.product-card-name-admin {
   font-weight: bold;
   font-size: 18px;
}

.product-card-image-admin {
    width: 100px;
    height: 100px;
}